<h1>Search nearest</h1>
<%= form_tag "/patches/find" do %>
  <div>
    <%= label_tag "lat", "Latitude" %>
    <%= text_field_tag "lat" %>
  </div>
  <div>
    <%= label_tag "lng", "Longitude" %>
    <%= text_field_tag "lng" %>
 </div>
 <div>
    <%= submit_tag "Search" %>
  </div>
  <% if @patches %>
    <table>
      <tr>
        <td>Name</td>
        <td>Distance</td>
        <td>Lat</td>
        <td>Lng</td>
      </tr>
      <% @patches.each do |p| %>
        <tr>
          <td><%= p.name %></td>
          <td><%= p.distance.round(3) %> km</td>
          <td><%= p.lat %></td>
          <td><%= p.lng %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
